[Unit]
Description=Cacophony Project PCBA Tester
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/pcba-test-interface
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
